<h2>IN BACKPACK</h2>

<table>
  <tr>
    <td><div class="card-placeholder" cdkDropList>CARD</div></td>
    <td><div class="card-placeholder" cdkDropList>CARD</div></td>
    <td><div class="card-placeholder" cdkDropList>CARD</div></td>
    <td><div class="card-placeholder" cdkDropList>CARD</div></td>
  </tr>
  <tr>
    <td><div class="card-placeholder" cdkDropList>CARD</div></td>
    <td><div class="card-placeholder" cdkDropList>CARD</div></td>
    <td><div class="card-placeholder" cdkDropList>CARD</div></td>
    <td><div class="card-placeholder" cdkDropList>CARD</div></td>
  </tr>
  <tr>
    <td><div class="card-placeholder" cdkDropList>CARD</div></td>
    <td><div class="card-placeholder" cdkDropList>CARD</div></td>
    <td><div class="card-placeholder" cdkDropList>CARD</div></td>
    <td><div class="card-placeholder" cdkDropList>CARD</div></td>
  </tr>
  <tr>
    <td><div class="card-placeholder" cdkDropList>CARD</div></td>
    <td><div class="card-placeholder" cdkDropList>CARD</div></td>
    <td><div class="card-placeholder" cdkDropList>CARD</div></td>
    <td><div class="card-placeholder" cdkDropList>CARD</div></td>
  </tr>
  <tr>
    <td><div class="card-placeholder" cdkDropList>CARD</div></td>
    <td><div class="card-placeholder" cdkDropList>CARD</div></td>
    <td><div class="card-placeholder" cdkDropList>CARD</div></td>
    <td><div class="card-placeholder" cdkDropList>CARD</div></td>
  </tr>
</table>
