<h2>EQUIPPED</h2>

<!-- TODO: Use reusable component -->
<table>
  <tr *ngFor="let row of rows">
    <td *ngFor="let column of columns">
      <div
        class="card-placeholder"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="cardsList[row * columns.length + column]"
      >
        <ng-container *ngIf="cardsList[row * columns.length + column][0] as card">
          <div
            class="equipment-card"
            cdkDrag
            [cdkDragData]="card"
            [ngClass]="card.cardType"
            (mouseenter)="hovered.emit(card)"
            (mouseleave)="hovered.emit()"
          >
            {{ card.name }}
          </div>
        </ng-container>
      </div>
    </td>
  </tr>
</table>
