:host {
  --background: #555;
  --border-radius: 0.8rem;
  --dice-size: 3rem;
  --dice-border-radius: 0.5rem;

  display: grid;
  grid-template-rows: 2rem 1fr;
  text-align: center;

  color: white;
  border-radius: var(--border-radius);
  background-color: var(--background);
  box-shadow: 2px 2px 3px 2px #3338;


  width: 15rem;
  height: 15rem; // Высота по умолчанию, реалная высота описано внизу

  // Реалная высота по размеру карты
  &.size-small  { height: 10rem; }
  &.size-medium { height: 12rem; }
  &.size-big    { height: 20rem; grid-row: 1 / span 2; }

  &.neutral { --background: #555; }
  &.heal    { --background: #529d2a; }
  &.shield  { --background: orange; }
  &.attack  { --background: #cfcf17; }
  &.ice     { --background: #6ed5f7; }
  &.fire    { --background: red; }
  &.poison  { --background: purple; }

  header {
    padding: 0rem;
    display: grid;
    place-items: center;
    font-weight: bolder;
    font-size: 1rem;
  }

  .content {
    background-color: #2225;
    margin: 0 0.5rem 0.5rem;
    padding: 0.5rem;
    display: grid;
    align-items: end;
    justify-items: center;
    gap: 1rem;
    border-radius: var(--border-radius);

    .drop-zone {
      aspect-ratio: 1;
      width: var(--dice-size);
      border: 0.15rem #fff dashed;
      border-radius: var(--dice-border-radius);
      display: grid;
      place-items: center;
    }

    .description {
      color: #fff;
      text-align: center;
      max-width: 20ch;
      font-size: 1rem;
    }

    .material-icons {
      font-size: 20px;
      vertical-align: bottom;
    }
  }
}
