.player {
  width: 240px;
  height: 300px;
  background-color: #333d;
  position: absolute;
  top: -50px;
  left: -260px;
}

.player-stats {
  color: white;
  font-size: 1rem;
  display: grid;
  gap: 0.2rem;
  width: 250px;

  .player-name {
    padding: 6px 0;
    display: flex;
    justify-content: space-between;
  }

  .health-bar,
  .break-bar,
  .stats-bar {
    padding: 6px 10px;
    border-radius: 4px;
  }

  .health-bar {
    position: relative;
    background-color: #b11e;

    .health-text {
      top: 5px;
      left: 40%;
      position: absolute;
      z-index: 2;
    }
    .health {
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      position: absolute;
      z-index: 1;
      background-color: #228b22;
    }
  }
  .break-bar {
    text-align: center;
    background-color: #cc1e;
  }
  .stats-bar {
    background-color: #333e;
  }
}
