<main cdkDropListGroup>
  <section class="enemy-section" [class.active]="!(isPlayersTurn$ | async)">
    <app-dice-list *ngIf="!(isPlayersTurn$ | async)" [dices]="(dices$ | async)!"></app-dice-list>
    <app-enemy [enemy]="(enemy$ | async)!" class="enemy-info"></app-enemy>
  </section>

  <section class="arena">
    <div class="cards">
      <div *ngFor="let card of cards$ | async" class="card">
        <app-card [card]="card" (destroyed)="destroyCard($event)"></app-card>
      </div>
    </div>
    <div class="special-cards">
      <ng-container *ngFor="let card of specialCards$ | async">
        <app-card [card]="card" (destroyed)="destroyCard($event)"></app-card>
      </ng-container>
    </div>
  </section>

  <section class="player-section" [class.active]="isPlayersTurn$ | async">
    <app-player-details class="player-info" [player]="(player$ | async)!"></app-player-details>
    <app-dice-list *ngIf="isPlayersTurn$ | async" [dices]="(dices$ | async)!"></app-dice-list>
    <button class="end-turn-btn" (click)="endTurn()">End turn <i class="material-icons">arrow_forward</i></button>
  </section>
</main>
