:host {
  display: block;
  width: 100%;
  height: 100vh;
  background-image: url('/assets/images/dungeon_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  main {
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-rows: 2fr 10fr 2fr;
    position: relative;

    .arena {
      display: grid;
      place-items: center;
      grid-template-columns: 4fr 1fr;
      gap: 2rem;
      padding: 0.5rem;

      .cards {
        position: relative;
        min-height: 25rem;
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem 2rem;

        .card {
          position: relative;
        }
      }

      .special-cards {
        position: relative;
        min-height: 25rem;

        display: grid;
        place-items: center;
      }
    }

    .player-section,
    .enemy-section {
      outline: 4px dashed white;
      &.active {
        outline: 4px dashed yellowgreen;
      }
    }

    .enemy-section {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 8rem;
      width: 100%;
      padding: 0.5rem 2rem;

      .enemy-info {
        justify-self: flex-end;
      }
    }

    .player-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8rem;
      width: 100%;
      padding: 1rem 2rem;

      .player-info {
        width: 300px;
      }

      .end-turn-btn {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 2rem;
        color: #ddd;
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;

        &:hover {
          color: #fff;
        }

        .material-icons {
          font-size: 2rem;
        }
      }
    }
  }
}
