<main cdkDropListGroup>
  <section class="enemy-section" [class.active]="!(isPlayersTurn$ | async)">
    <ng-container *ngIf="enemy$ | async as enemy">
      <app-dice-list *ngIf="!(isPlayersTurn$ | async)" [dices]="enemy.dices" [inverse]="true"></app-dice-list>
      <app-enemy [enemy]="enemy" class="enemy-info"></app-enemy>
    </ng-container>
  </section>

  <section class="arena" *ngIf="mover$ | async as mover">
    <app-card-list [mover]="mover" (cardUsed)="useCard($event)"></app-card-list>
  </section>

  <section class="player-section" [class.active]="isPlayersTurn$ | async">
    <ng-container *ngIf="player$ | async as player">
      <app-player-details class="player-info" [player]="player"></app-player-details>
      <app-dice-list *ngIf="isPlayersTurn$ | async" [dices]="player.dices"></app-dice-list>
    </ng-container>
    <button class="btn btn-primary" (click)="endTurn()">End turn <i class="material-icons">arrow_forward</i></button>
  </section>
</main>
