<main cdkDropListGroup>
  <section class="equipment__backpack">
    <app-backpack [cards]="backpack" (hovered)="cardToPreview = $event"></app-backpack>
  </section>
  <section class="equipment__card-preview">
    <app-card-preview [card]="cardToPreview"></app-card-preview>
  </section>
  <section class="equipment__equipped">
    <app-equipped [cards]="equipment" (hovered)="cardToPreview = $event"></app-equipped>
  </section>
</main>

<section>
  <app-level-stats [inEquipmentMenu]="true"></app-level-stats>
</section>
