.equipment-right {
  position: absolute;
  right: 0px;
  width: 35%;
  height: 100px;
}

.equipment-left {
  position: absolute;
  left: 0px;
  width: 60%;
  height: 100px;
}

table td {
  border: 1px solid black;
  width: 50%;
}

.back-btn {
  position: relative;
  display: block;
}
