.health-bar {
  position: relative;
  background-color: #b11e;
  min-height: 36px;
  border-radius: 4px;
  overflow: hidden;

  .health-text {
    top: 5px;
    left: 40%;
    position: absolute;
    z-index: 2;
  }
  .health {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background-color: #228b22;
  }
}
